body {
  font-family: "Arial", sans-serif;
  background: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar {
  width: 240px;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.sidebar .logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 20px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s;
}

.sidebar nav ul li a.active,
.sidebar nav ul li a:hover {
  color: #6a1b9a;
}

.main-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  background: #f0f4f7;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

header .date {
  font-size: 14px;
  color: #888;
}

.overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  background: #ffffff;
  padding: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card:last-child {
  margin-right: 0;
}

.card p {
  margin: 0 0 10px;
  color: #888;
}

.card h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.charts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.chart {
  flex: 1;
  background: #ffffff;
  padding: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.chart:last-child {
  margin-right: 0;
}

.chart h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.graph {
  height: 410px;
  background: #e0e0e0;
  border-radius: 8px;
}
.graph img {
  width: 100%;
  height: 410px;
}

.review-section {
  width: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.review-form {
  margin-bottom: 30px;
}

.review-form h3 {
  margin-bottom: 10px;
}

.review-form form {
  display: flex;
  flex-direction: column;
}

.review-form label {
  margin: 10px 0 5px;
}

.review-form input,
.review-form select,
.review-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.review-form button {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.review-form button:hover {
  background-color: #0056b3;
}
